// Navigation code here
.top-grey-section{
    background-color: @nav-bg;
    height: 25%;
    @phone {
        width: 80%;
    }
}
.navigation-bar {

    display: flex;
    justify-content: center;
    margin: 20px;
    @phone {
        width: 80%;
        
    }

    a {
        font-size: 1.5rem;
        text-decoration: none;
        margin: 10px;
        color: @nav-font
        
    
        
    }
}